body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.logo-content-img{
    border: solid 0px #42515f;
}
.book-text{
    font: normal normal bold 15px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}
.address-book{
    color: #42515f;
}
*{
    box-sizing: border-box;
}
.table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
    min-width: 800px;
}
td, th{
    text-align: left;
    padding: 5px 8px;
}
th{
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px solid #dddddd;
    top: 173px;
    left: 427px;
    width: 1067px;
    height: 108px;
    opacity: 1;
}
.header-logo{
    top: 214px;
    left: 1393px;
    width: 44px;
    height: 44px;
}